html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: hsl(234, 39%, 85%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(233, 18%, 10%);
  background-image: url('../public/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"] {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: hsl(234, 39%, 85%);
  display: block;
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 0 15px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="checkbox"] {
  margin-right: 20px;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background-color: transparent;
}

input[type="checkbox"]:checked {
  background-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

input[type="checkbox"]:hover {
  border-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

.container {
  padding: 80px 0;
  width: 570px;
  margin: 0 auto;
}

.todo-title {
  color: #ffffff;
  text-align: left;
  font-size: 40px;
  letter-spacing: 18px;
  margin-bottom: 44px;
}

.input-wrapper {
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  padding: 24px 0;
  border-radius: 10px;
}

.todo-list {
  margin-top: 50px;
}

.todo-item-wrapper {
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  padding: 24px 15px 20px 15px;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  display: flex;
  align-items: center;
}

.todo-item-wrapper:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todo-item-wrapper:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 0;
}

.todo-item-wrapper p {
  text-align: left;
  display: inline-block;
}

.todo-item-wrapper button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  margin-left: auto;
  display: none;
}

.todo-item-wrapper button svg {
  vertical-align: middle;
}

.todo-item-wrapper:hover button {
  display: inline-block;
}

.strikethrough {
  text-decoration: line-through;
  color: hsl(234, 11%, 52%);
}

.left-item {
  font-size: 12px;
  color: hsl(234, 11%, 52%);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

/* .foot-nav .action-btns {
  margin: 0 auto;
} */

.foot-nav button {
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(234, 11%, 52%);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  /* margin-left: auto; */
  display: inline-block;
}

.foot-nav button:hover {
  color: hsl(234, 39%, 85%);
}

.foot-nav .actions-btn,
.foot-nav .clear-btn {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.foot-nav .clear-btn {
  text-align: right;
}

.foot-nav .active {
  color: hsl(220, 98%, 61%);
}